<!DOCTYPE html>
<html style="overflow: hidden; margin: 0;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home - DeepMessage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
</head>
<body>
	<section>
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #DC143C;">
			<a href="#" class="navbar-brand" style="font-family: 'Bungee', cursive;">DeepMessage</a>
		</nav>
	</section>
	<br>
	<section style="margin-top: -24px;">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron jumbotron-fluid" style="background-color: #FF6347; color: #FFF0F5	;">
					<div class="container">
						<h1 class="display-4">Converse com <strong>segurança, velocidade e diversão.</strong></h1>
						<p class="lead">Mensagens que se <strong>autodestroem, emojis, gifs</strong> e muito mais.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section style="margin-top: -32px;">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron jumbotron-fluid" style="background-color: #FF6347; color: white;">
					<div class="container">
						<h1 class="display-4">Crie sua conta, <strong>é gratuito e sempre será.</strong></h1>
						<p class="lead">Nós somos <a href="#" style="background-color: white;">open-source</a>, gratuitos e defendemos a liberdade acima de tudo.</p>
						<a href="/login" class="btn float-right" style="color: white;">Entrar</a>
						<a href="#" class="btn float-right" style="color: white;">Crie uma conta</a>
					</div>
				</div>				
			</div>
		</div>
	</section>
	<section style="margin-top: -34px;">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron jumbotron-fluid" style="background-color: #FF6347; color: white;">
					<div class="container">
						<h1 class="display-4">Contruido em <strong><a href="#" style="background-color: white;">Node.js</a>, <a href="#" style="background-color: white;">Bootstrap</a> e <a href="#" style="background-color: white;">Javascript</a></strong></h1>
						<p class="lead">Acesse <a href="#" style="background-color: white;">DeepMessage para Desenvolvedores</a>.</p>
						<ul class="inline">
							<li><a href="#" style="background-color: white;">Estamos em BETA</a></li>
						</ul>
						<small class="float-right">Uma obra de <a href="#" style="background-color: white; font-family: 'Bungee', cursive;">Gabriel Dylan</a></small>
					</div>
				</div>		
			</div>
		</div>
	</section>




	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>