<!DOCTYPE html>
<html style="overflow: hidden;">
<head>
	<title>Login - DeepMessage</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
</head>
<body>
	<section>
		<div class="row">
			<div class="col-md-12"></div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form class="border p-5">
					<p style="font-size: 1.5em">Faça login</p>
					<input class="form-control mb-1" type="email" placeholder="Email" name="email"></input>
					<input type="password" class="form-control" placeholder="Senha" name="password">
					<small class="form-text"><a href="#" style="color: crimson;">Não tem conta ainda? Cadastre-se</a></small>
					<button class="btn btn-primary float-right mt-1" style="background-color: crimson; border: crimson;">Entrar</button>
				</form>
				<hr>
				<small class="float-right">Uma obra de <a href="#" style="background-color: crimson; font-family: 'Bungee', cursive; color: white;">Gabriel Dylan</a></small>
			</div>
			<div class="col-md-4"></div>
		</div>
	</section>
</body>
</html>